<body style="background-color: #c75959;">
<div id="mainstart">

<h1 class="talk"><%= @talk %></h1>
<div class="button">
<a class="done squaredone" href="/">re-take this awesome test!</a>
</div>

</div>
</body>
